{
    "extends": "@istanbuljs/nyc-config-typescript",
    "branches": 80,
    "lines": 80,
    "functions": 80,
    "statements": 95,
    "all": true,
    "check-coverage": false,
    "reporter": [ "text", "html" ],
    "include": [ "lib/src/**/*.ts" ],
    "exclude": [ 
        "**/src/index.ts", 
        "**/src/polyfills.ts", 
        "**/karma*.conf.js" 
    ],
    "report-dir": "./coverage/nyc"
}