name: Dependabot Auto Approve
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

permissions:
  pull-requests: write
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true
jobs:
  auto-approve:
    runs-on: ubuntu-latest
    if: |
      github.event.pull_request.user.login == 'nev21' ||
      github.event.pull_request.user.login == 'dependabot[bot]'
    steps:
      - name: Wait for status checks
        uses: lewagon/wait-on-check-action@v1.5.0
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 30
          running-workflow-name: 'auto-approve'
          allowed-conclusions: success,skipped,neutral
          
      - name: Approve PR
        if: success()
        run: gh pr review --approve "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
